@import "tailwindcss";

@font-face {
  font-family: 'Metropolis';
  src: url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-metropolis: 'Metropolis', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-metropolis);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-metropolis);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-slide {
    animation: slide 8s linear infinite;
  }
}
